<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang blog</title>
    <style>
        /* Định vị container chứa nút ở góc phải trên cùng */
        .top-right-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        /* Định dạng các nút */
        .top-right-buttons button {
            margin-left: 10px;
            padding: 8px 12px;
            font-size: 14px;
        }
    </style>
</head>
<body>
<h1>Trang chủ</h1>

<p>Chào mừng <span th:if="${user != null}" th:text="${user.username}"></span></p>
<p>đến với trang blog của chúng tôi!</p>
<div th:if="${user} != null">
    <form th:action="@{/posts/create}" method="post">
        <div>
            <label for="title">Tiêu đề:</label>
            <input type="text" id="title" name="title" placeholder="Nhập tiêu đề" required>
        </div>

        <div>
            <label for="content">Nội dung:</label>
            <textarea id="content" name="content" placeholder="Nhập nội dung" required></textarea>
        </div>
        <button type="submit">Đăng bài</button>
    </form>
</div>
<!-- Container chứa các nút -->
<div class="top-right-buttons" th:if="${user} != null">
    <!-- Nút Xem Thông Tin Cá Nhân -->
    <a th:href="@{'/profile/' + ${user.getId()}}">
        <button>Xem Thông Tin Cá Nhân</button>
    </a>
    <!-- Nút Đăng Xuất -->
    <a href="/logout" th:href="@{/logout}">
        <button>Đăng Xuất</button>
    </a>
</div>

<!-- Thông điệp cho người dùng chưa đăng nhập -->
<div th:if="${user} == null">
    <p>Bạn chưa đăng nhập! Vui lòng <a th:href="@{/login}">đăng nhập</a>.</p>
</div>

<div>
    <ul>
        <li th:each="post : ${posts}">
            <h2>
                <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Tiêu đề</a>
            </h2>
            <p><strong>Tác giả:</strong> <span th:text="${post.author.username}"></span></p>
            <p><strong>Thời gian:</strong> <span th:text="${post.updatedAt}"></span></p>
            <p th:text="${post.content}">Nội dung</p>
            <hr>
            <div th:if="${user != null}">
                <h4>Thêm bình luận mới</h4>
                <form th:action="@{/comments/add}" method="post">
                    <input type="hidden" name="postId" th:value="${post.id}"/>
                    <div class="form-group">
                        <textarea class="form-control" name="body" rows="3" placeholder="Nhập bình luận của bạn" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng bình luận</button>
                </form>
            </div>
            <div th:if="${user == null}">
                <p>Vui lòng <a th:href="@{/login}">đăng nhập</a> để bình luận.</p>
            </div>
        </li>
    </ul>
</div>

</body>
</html>