<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thông tin cá nhân</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <h1>Thông tin cá nhân</h1>

    <!-- Hiển thị avatar nếu có -->
    <div>
        <img th:if="${path != null}" th:src="${path}" alt="Avatar" width="150" height="150">

    </div>

    <p><strong>Tên đăng nhập:</strong> <span th:text="${user.username}"></span></p>
    <p><strong>Họ và tên:</strong> <span th:text="${user.fullname}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Số điện thoại:</strong> <span th:text="${user.phone}"></span></p>
    <p><strong>Vai trò:</strong> <span th:text="${user.role}"></span></p>

    <!-- Đặt thêm các nút hoặc liên kết nếu cần -->
    <div>
        <a th:href="@{/admin/users/update/{id}(id=${user.id})}" class="btn">Chỉnh sửa thông tin</a>
    </div>
    <div>
        <ul>
            <li th:each="post : ${posts}">
                <h2>
                    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Tiêu đề</a>
                </h2>
                <p><strong>Tác giả:</strong> <span th:text="${post.author.username}"></span></p>
                <p><strong>Thời gian:</strong> <span th:text="${post.updatedAt}"></span></p>
                <p th:text="${post.content}">Nội dung</p>
                <hr>
<!--                <div th:if="${user != null}">-->
<!--                    <h4>Thêm bình luận mới</h4>-->
<!--                    <form th:action="@{/comments/add}" method="post">-->
<!--                        <input type="hidden" name="postId" th:value="${post.id}"/>-->
<!--                        <div class="form-group">-->
<!--                            <textarea class="form-control" name="body" rows="3" placeholder="Nhập bình luận của bạn" required></textarea>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary">Đăng bình luận</button>-->
<!--                    </form>-->
<!--                </div>-->
                <div th:if="${user == null}">
                    <p>Vui lòng <a th:href="@{/login}">đăng nhập</a> để bình luận.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
